<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apex.presistence.mapper.IDGeneratorMapper">
  <resultMap id="BaseResultMap" type="com.apex.presistence.beans.IDGenerator">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="RANGE_NO" jdbcType="DECIMAL" property="rangeNo" />
    <result column="RANGE_SIZE" jdbcType="DECIMAL" property="rangeSize" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    NAME, ID, RANGE_NO, RANGE_SIZE
  </sql>
</mapper>